/* https://github.com/zetareticoli/cssui */
:root {
  --cssui-animation-rotate: rotate(-180deg);
  --cssui-animation-timing: 0.25s;
  --cssui-font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --cssui-gray-lighter: #e5e7eb;
  --cssui-gray-light: #d1d5db;
  --cssui-gray-dark: #4b5563;
  --cssui-gray-darkest: #1f2937;
  --cssui-padding: 1rem;
  --cssui-radius: 4px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--cssui-font-family);
  font-size: 3vmin;
}

/* ------------------------------
Changing the sliding in animation
------------------------------ */

/* NOTES:
/* Edit the '--slideout-animation' and '--slideout-position' variables to change the position */

[data-slideout-panel] {
  --slideout-animation: left 0.2s ease-in-out;
  --slideout-background: #fff;
  --slideout-shadow-color: #9ca3af;
  --slideout-padding: 1rem;
  --slideout-position: -100%;
  --slideout-size: 33vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--slideout-position);
  z-index: 9999;
  /* right               : 0;  */
  visibility: hidden;
  width: var(--slideout-size);
  padding: var(--slideout-padding);
  background: var(--slideout-background);
  box-shadow: 0 4px 20px var(--slideout-shadow-color);
  transition: var(--slideout-animation);
}

[data-slideout-panel]:target {
  --slideout-position: 0;
  visibility: visible;
}

[data-slideout-header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[data-slideout-close] {
  color: var(--cssui-gray-darkest);
}

textarea {
  height: 90%;
  width: 100%;
}

.button {
  display: block;
  border: double gray;
  border-width: 5px 5px 5px 0;
  padding: 0.1rem;
  width: 3rem;
  text-decoration: none !important;
}

#now {
  font-size: 10px;
}
.line {
  background-color: pink;
}
.boxes {
  width: 100%;
}
.boxes > * {
  flex: 1 0 40%;
}

.box {
  border: double 5px gray;
  margin: 1rem;
  padding: 1rem;
}

@media all and (orientation: landscape) {
  .boxes {
    display: flex;
    flex-wrap: wrap;
  }
}
